* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

div#app {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

:root {
    --darkest: #000009;
    --darker: #3c4848;
    --neutral: #6c7676;
    --light: #8E98AF;;
    --lightest-former: #ecf8f6;
    --lightest: #FFF;

    --side-menu-width: 50px;
}

header {
    height: max-content;
}

main {
    background: var(--lightest);
    flex-grow: 1;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

.light-round-btn {
    background-color: var(--light);
    color: var(--lightest);
    font-weight: 500;

    border: 1px solid transparent;
    border-radius: 20px;

    transition: all 0.3s ease-in-out;
}

.light-round-btn:hover {
    background-color: var(--lightest);
    border: 1px solid var(--light);
    color: var(--light);
}

/* Animations */

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-from-right {
    animation: fadeInFromRight 1.5s ease-in-out;
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fade-pulse {
    position: absolute;
    top: 0;
    right: 0%;

    width: 20%;

    transition: all 1s ease-in-out;
    animation: fade-pulse 3s linear infinite alternate;
}

@keyframes fade-pulse {
    0% {
        transform: translate(0, 0);
        opacity: 30%;
    }
    100% {
        transform: translate(200% 200%);
        opacity: 60%;
    }
}

.smooth-bounce {
    animation: smooth-bounce 1s ease-in-out infinite;
}

@keyframes smooth-bounce {
    0% {
        opacity: 100%;
    }

    10%, 90% {
        opacity: 95%;
        transform: translateY(-5px);
    }

    20%, 80% {
        opacity: 92.5%;
        transform: translateY(-10px);
    }

    30%, 60% {
        opacity: 91%;
        transform: translateY(-13px);
    }

    40%, 50% {
        opacity: 90%;
        transform: translateY(-15px);
    }
}

.smooth-bounce-x {
    animation: smooth-bounce-x 1s ease-in-out infinite;
}

@keyframes smooth-bounce-x {
    0% {
        opacity: 100%;
        transform: translateX(0px);
    }

    10%, 90% {
        opacity: 95%;
        transform: translateX(1px);
    }

    20%, 80% {
        opacity: 92.5%;
        transform: translateX(1.5px);
    }

    30%, 60% {
        opacity: 91%;
        transform: translateX(1.75px);
    }

    40%, 50% {
        opacity: 90%;
        transform: translateX(2px);
    }
}
