* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    font-size: 100%;
    color: var(--neutral);
    line-height: 1.15;
    font-family: 'Poppins', sans-serif;
}

.title, .subtitle {
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

div#app {
    height: 100vh;

    display: flex;
    flex-direction: column;
}

:root {
    --darkest: #000009;
    --darker: #3c4848;
    --neutral: #6c7676;
    --light: #8E98AF;
    --lightest-former: #ecf8f6;
    --lightest: #FFF;

    --sixty: #FFF;
    --thirty: #000;
    --ten: #8E98AF;

    --side-menu-width: 50px;
}

header {
    height: max-content;
}

main {
    background: var(--sixty);
    flex-grow: 1;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    border: 0;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.light-round-btn {
    background-color: var(--ten);
    color: var(--sixty);
    font-weight: 500;

    border: 1px solid transparent;
    border-radius: 20px;

    transition: all 0.3s ease-in-out;
}

.light-round-outlined-btn {
    background-color: var(--sixty);
    color: var(--ten);
    font-weight: 500;

    border: 1px solid var(--ten);
    border-radius: 20px;

    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
    .mobile-only {
        display: none !important;
    }

    .light-round-btn:hover {
        background-color: var(--sixty);
        border: 1px solid var(--ten);
        color: var(--ten);
    }
    
    .light-round-outlined-btn:hover {
        background-color: var(--ten);
        border: 1px solid transparent;
        color: var(--sixty);
    }
}

@media screen and (max-width: 991px) {
    :root {
        --side-menu-width: 2rem;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }
}

/* Animations */

.fade-out-double-time {
    animation: fadeOut 0.5s ease-in-out;
}

.fade-in-double-time {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.fade-in-delay-1 {
    animation: fadeInDelay1 1.5s ease-in-out;
}

.fade-in-delay-2 {
    animation: fadeInDelay2 2s ease-in-out;
}

.fade-in-delay-3 {
    animation: fadeInDelay3 2.5s ease-in-out;
}

.fade-in-delay-4 {
    animation: fadeInDelay4 3s ease-in-out;
}

.fade-in-delay-5 {
    animation: fadeInDelay5 3.5s ease-in-out;
}

@keyframes fadeInDelay1 {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInDelay2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInDelay3 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInDelay4 {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInDelay5 {
    0% {
        opacity: 0;
    }
    71.5% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.fade-in-from-right {
    animation: fadeInFromRight 1.5s ease-in-out;
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fade-pulse {
    animation: fade-pulse 3s linear infinite alternate;
}

@keyframes fade-pulse {
    0% {
        transform: translate(0, 0);
        opacity: 30%;
    }
    100% {
        transform: translate(200% 200%);
        opacity: 60%;
    }
}

.smooth-bounce {
    animation: smooth-bounce 1s ease-in-out infinite;
}

@keyframes smooth-bounce {
    0% {
        opacity: 100%;
    }

    10%, 90% {
        opacity: 95%;
        transform: translateY(-5px);
    }

    20%, 80% {
        opacity: 92.5%;
        transform: translateY(-10px);
    }

    30%, 60% {
        opacity: 91%;
        transform: translateY(-13px);
    }

    40%, 50% {
        opacity: 90%;
        transform: translateY(-15px);
    }
}

.smooth-bounce-x {
    animation: smooth-bounce-x 1s ease-in-out infinite;
}

@keyframes smooth-bounce-x {
    0% {
        opacity: 100%;
        transform: translateX(0px);
    }

    10%, 90% {
        opacity: 95%;
        transform: translateX(1px);
    }

    20%, 80% {
        opacity: 92.5%;
        transform: translateX(1.5px);
    }

    30%, 60% {
        opacity: 91%;
        transform: translateX(1.75px);
    }

    40%, 50% {
        opacity: 90%;
        transform: translateX(2px);
    }
}
